{%- style -%}
  #banner-image-{{ section.id }} h2{
    font-size:{{ section.settings.title_font_size }}px;
    color:{{ section.settings.font_color }};
    font-weight:bold;
  }
  #banner-image-{{ section.id }} p{
    font-size:{{ section.settings.subtitle_font_size }}px;
    color:{{ section.settings.font_color }}
  }
  .banner-height,
  .banner-image {
    min-height: {{ section.settings.desktop_image_size }}vh;
    background-size: cover;
    background-position: center;
    background-attachment:fixed
  }

@media only screen and (max-width:768px){
  #banner-image-{{ section.id }} h2{font-size:28px;}
  #banner-image-{{ section.id }} p{font-size:17px;}
  .banner-height,
  .banner-image {min-height:80vh}
  #banner-image-{{ section.id }} .banner-height:after{display:none !important}
}
{%- endstyle -%}
<div id="banner-image-{{ section.id }}" class="relative ">
  {%- if section.settings.image != blank -%}
    <div class="banner-height hidden md:block  mx-auto px-2" style="background-image: url({{ section.settings.image | img_url: 'master' }});">
      
      <div class="banner-image max-w-7xl mx-auto h-full flex justify-{{ section.settings.desktop_content_alignment }} items-center z-10 px-2 relative top-10">
        {% if section.settings.desktop_content_alignment == 'center' %}
        <div class="text-center">
          {% elsif section.settings.desktop_content_alignment == 'start' %}  
            <div class="text-left">
              {% else %}    
              <div class="text-right">
        {% endif %}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
              <h2 class="py-2 max-w-2xl" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">{{ block.settings.heading | escape }}</h2>
              {%- when 'text' -%}
              <div class="max-w-2xl" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
              <p class="py-2">{{ block.settings.text | escape }}</p>
              </div>
              {%- when 'buttons' -%}
              <div class="mt-6 flex justify-{{ section.settings.desktop_content_alignment }}" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000">
                {%- if block.settings.button_label_1 != blank -%}
                  <a href="{{ block.settings.button_link_1 }}" class="primary-button font-semibold tracking-wider min-w-48 justify-center flex">
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
              </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    
    </div>

    <div class="banner-height block md:hidden" style="background-image: url({{ section.settings.image_mobile | img_url: 'master' }});">
      <div class="banner-image container max-w-4xl mx-auto h-full flex justify-center items-end z-10 px-3">
        <div class="text-center relative -top-5">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
              <h2 class="py-2" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000">{{ block.settings.heading | escape }}</h2>
              {%- when 'text' -%}
              <div class="max-w-2xl">
                  <p class="py-2" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">{{ block.settings.text | escape }}</p>
              </div>
              {%- when 'buttons' -%}
              <div class="mt-6 flex justify-center" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">
                {%- if block.settings.button_label_1 != blank -%}
                  <a href="{{ block.settings.button_link_1 }}" class="primary-button tracking-wider min-w-48 justify-center flex">
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
              </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- else -%}
    <div class=" inset-0 min-h-64 h-2/3 z-10">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}

</div>
{%- if section.settings.allow_gradient -%}
  
<style>
#banner-image-{{ section.id }} .banner-height:after {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
</style>
{%- endif -%}

{% schema %}
  {
    "name": "Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop Image"
      }, 
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Iamge"
      }, 
      {
        "type": "select",
        "id": "desktop_image_size",
        "options": [
          {
            "value": "65",
            "label": "65VH"
          }, {
            "value": "80",
            "label": "80VH"
          }, {
            "value": "100",
            "label": "100VH"
          }
        ],
        "default": "100",
        "label": "100VH"
      }, 
      {
        "type": "color",
        "id": "font_color",
        "label": "t:sections.all.color_fonts.font_color",
        "default": "#000"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "Title"
          }
        ]
      }, {
        "type": "text",
        "name": "text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Give customers details about the banner image(s) or content on the template.",
            "label": "Description"
          }
        ]
      }, {
        "type": "buttons",
        "name": "buttons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "Button Label"
          }, {
            "type": "url",
            "id": "button_link_1",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Banner",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "buttons"
          }
        ]
      }
    ]
  }
{% endschema %}
