  <div id="rich-text-section-{{section.id}}" >
  <div class="max-w-5xl px-2 lg:px-0 mx-auto" >
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
        <h2 class="py-2" >
          {{ block.settings.heading | replace: 'p>', 'span>' }}
        </h2>
        {%- when 'text' -%}
        <div class="py-2 text-content" >
          {{ block.settings.text }}
        </div>
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
          <div  class="flex mt-3 py-2 ">
              <a href="{{ block.settings.button_link }}" class="{{ section.settings.button_style }} tracking-wider min-w-48 justify-center flex">
                {{- block.settings.button_label | escape -}}
              </a>
          </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "Rich Text",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#fff"
      }

    ],
    "blocks": [
      {
        "type": "heading",
        "name": "heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Talk about your brand",
            "label": "Title"
          }
        ]
      }, {
        "type": "text",
        "name": "text",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "text"
          }
        ]
      }, {
        "type": "button",
        "name": "button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "Button Label"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich Text",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}
